
#marcoRepresentanteMod {
	display: none;
}

#marcoRepresentante {
	background: #eee;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    position: relative;
    
    width: 70%;
}

#marcoRepresentanteMod {
	background: #eee;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    position: relative;
    
    width: 70%;
}

#changeRepCancel {
	display: none;
}

input {
  font-weight:bold;
  font-size: 1.2em;
  font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
}


textarea{
  font-weight: bold;
  font-size: 1.2em;
  font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
}

span{
  font-weight: bold;
  font-size: 1.0em;
  font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
}

#pie {
     width: 100%;
}

#controlAdd {
    background: #eee;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    position: relative;
    
    width: 65%;
}

#controlAddMod {
    background: #eee;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    position: relative;
    
    width: 65%;
}

#parametros {
	
	background: rgba(226,226,226,1);
	background: -moz-linear-gradient(45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(226,226,226,1)), color-stop(50%, rgba(219,219,219,1)), color-stop(51%, rgba(209,209,209,1)), color-stop(100%, rgba(254,254,254,1)));
	background: -webkit-linear-gradient(45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
	background: -o-linear-gradient(45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
	background: linear-gradient(45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );	
    border: 2px solid #3399cc;
    margin-bottom: 1em;
    padding: 4px;
    cursor: grab;
}

#parametrosNat {
	
	background: rgba(226,226,226,1);
	background: -moz-linear-gradient(45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(226,226,226,1)), color-stop(50%, rgba(219,219,219,1)), color-stop(51%, rgba(209,209,209,1)), color-stop(100%, rgba(254,254,254,1)));
	background: -webkit-linear-gradient(45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
	background: -o-linear-gradient(45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
	background: linear-gradient(45deg, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe', GradientType=1 );	
    border: 2px solid #3399cc;
    margin-bottom: 1em;
    padding: 4px;
    cursor: grab;
}

.mayuscula {
	text-transform: uppercase; 
}

.swal2-input, .swal2-modal .swal2-textarea {
    text-transform: uppercase; 
}

